@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  max-width: 1440px;
  font-family: "Montserrat", sans-serif;
}

.nav {
  margin: 45px 0 50px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav .div__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 57px;
  margin-right: 100px;
}
.nav .div__links .nav__link {
  color: black;
  text-decoration: none;
  color: #FF6060;
  font-size: 24px;
  font-weight: 500;
}
.nav .logo-kasa {
  width: 210px;
  height: 68px;
  margin-left: 100px;
}

.background__image,
.image-paysage {
  width: 1240px;
  height: 223px;
  border-radius: 25px;
}

.background__image {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.background__image .image-paysage {
  filter: brightness(70%);
}
.background__image .background-text {
  position: absolute;
  font-size: 48px;
  font-weight: 500;
  color: white;
}

.gallery {
  width: 1240;
  height: 829px;
  background-color: #F6F6F6;
}