//COULEURS
$primarycolor: #FF6060;
$secondarycolor: #F7F7F7;

//FONTS

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


//
* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.nav {
    margin: auto;
    margin-top: 45px;
    margin-bottom: 50px;
    width: 1240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .div__links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 57px;

        .nav__link {
            color: black;
            text-decoration: none;
            color: $primarycolor;
            font-size: 24px;
            font-weight: 500;
        }
    }

    .logo-kasa {
        width: 210px;
        height: 68px;
    }
}


//backgroundImage

.background__image,
.image-paysage {
    width: 1240px;
    height: 223px;
    border-radius: 25px;
}

.background__image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;

    .image-paysage {
        filter: brightness(70%);

    }

    .background-text {
        position: absolute;
        font-size: 48px;
        font-weight: 500;
        color: white;
    }
}

//Gallery

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1240px;
    background-color: $secondarycolor ;
    margin-top: 43px;
    border-radius: 25px;

    .listing-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px 60px;
        padding: 56px 50px 43px 50px;

        .cart {
            height: 320px;
            width: 320px;
            display: flex;
            background-color: #FF6060;
            flex-direction: column;
            justify-content: end;
            color: white;
            font-size: 18px;
            border-radius: 10px;
            font-weight: 500;
            position: relative;

            .overlay {
                height: 340px;
                width: 340px;
                background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
                position: absolute;
            }

            .logement-title {
                position: absolute;
                padding-left: 20px;
                padding-bottom: 20px;
            }

            .image-logement {
                height: 340px;
                width: 340px;
                border-radius: 10px;
                position: absolute;
                margin: 0px;
            }
        }
    }
}




//FOOTER

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    gap: 35px;
    padding: 66px 0 29px 0;
    margin-top: 50px;

    .logonb {
        width: 122px;
        height: 39.44px;
        margin: auto;
    }

    .right {
        font-weight: 500;
        font-size: 24px;
        color: white;
    }
}

//A PROPOS
.values-galery {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 38px 0px;

    .block-textoverflow {
        width: 1023px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        border-radius: 5px;

        .top-bar {
            height: 52px;
            background-color: $primarycolor;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            font-size: 24px;
            border-radius: 5px;
            color: white;
            padding: 0 17px;

            .arrow {
                width: 32px;
                height: 32px;
                cursor: pointer;
            }

            .arrow.down {
                transform: rotate(0deg);
                transition: transform 0.3s ease-in-out;
            }

            .arrow.up {
                transform: rotate(180deg);
                transition: transform 0.3s ease-in-out;
            }
        }

        .text-overflow {
            background-color: $secondarycolor;
            color: $primarycolor;
            border-radius: 0px 0px 5px 5px;
            padding: 0 20px; 
            overflow: hidden;
            transform-origin: top; 
            transform: scaleY(0); 
            opacity: 0; 
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }

        .text-overflow.open {
            padding: 22px 20px; 
            transform: scaleY(1); 
            opacity: 1; 
        }

    }
}